<div>
  <h1>ショッピングカート</h1>
  
  <p>商品</p>
  <span><%= @item.introduction %></span>
  
  <p>単価(税込)</p>
  <span><%= @item.porice %></span>
  
  <p>数量</p>
  <span><%= @cart_item.amouunt %></span>
  
  <p>小計</p>
  <p>destroy</p>
  <p>合計</p>
  <p>買い物を続ける</p>
  
  
  
</div>